# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix
.vs/RPG2/FileContentIndex/d4a2f0ae-7de4-4569-a324-5daf412c73fa.vsidx
.vs/slnx.sqlite
.vs/RPG2/FileContentIndex/5b8aee49-17fc-45ae-83c7-6604d4c1eb81.vsidx
