# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix
.vs/RPG2/FileContentIndex/d4a2f0ae-7de4-4569-a324-5daf412c73fa.vsidx
